/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection{
  color: rgb(165, 75, 42);
  background-color: rgb(63, 173, 173);
}

a {
  text-decoration: none;
  list-style-type: none;
}


/* Barra de navegacion */
.navbar{
  padding: 2rem;
  background-color: #f5f6f7;
}

.navbar-collapse{
  align-items: center;
  justify-content: space-between;
}


/* Estilos generales */
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 2.5rem;
  font-family: 'Acme', sans-serif;
}

.seccion-oscura{
  color: white;
  background-color: #1b1b32;
}

.seccion-clara{
  color: black;
  background-color: white;
}

.seccion-titulo{
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Acme', sans-serif;
}

.seccion-descripcion{
  font-size: 1.2rem;
  color:#584e4e;
}

.seccion-texto{
  font-size: 1.2rem;
}

.btn-info{
  font-size: 1.1rem;
  margin: 20px;
  font-weight: bold;
}

.texto-negro{
  color: black;
}

.texto-blanco{
  color:white
}

/* Seccion Hero */
.hero{
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

.hero-principal{
  padding: 5rem;
}

.hero-principal h2 {
  font-size: 1.5rem;
}

/* Seccion Nosotros */

.nosotros{
  padding: 40px;
}

.nosotros .contenedor{
  max-width: 600px;
  text-align: center;
} 

.nosotros-inferior{
  padding: 40px;
}

.nosotros-titulo{
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}
.nosotros-inferior .columna{
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.nosotros-inferior .columna:hover{
  color:white;
  background-color: #1b1b32;
}

.nosotros-inferior .columna{
  font-size: 20px;
}

.nosotros-inferior .row img{
  width:100%;
  padding: 0;
  border-radius: 10%;
}

.badge-contenedor{
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge{
  margin: 5px;
}

.testimonios{
  padding: 40px 40px 80px 40px;
}

.testimonios .carousel{
  max-width: 800px;
}

.carousel-item{
  height: 500px;
}

.carousel-item .container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-imagen{
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonio-texto{
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.testimonio-info{
  font-weight: bold;
  text-align: center;
}

.testimonio-info p{
  margin-bottom: 0;
}

.testimonio-footer .cliente{
  font-size: 1.2rem;
}

.testimonio-info .cargo{
  font-size: 0.9rem;
  color: #656060;
}



/* Seccion Servicios */

.servicios{
padding: 40px;
}

.servicios .contenedor{
  max-width: 600px;
  text-align: center;
}

.servicios img{
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.galeria img:hover{
  opacity: 0.2;
}

.servicios-contenedor{
  padding-top: 60px;
  margin-bottom: 40px;
}

.galeria{
  position: relative;
}

.overlay{
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.servicios-contenedor:hover .overlay{
  opacity: 1;
}

/* Busquedas */
.busquedas{
  padding: 40px;
  }
  
  .busquedas .contenedor{
    max-width: 600px;
    text-align: center;
  }

.busquedas-listado{
  min-height: 500px;
  padding: 30px;
}

.busquedas-listado .card{
  width: 80%;
  max-width: 600px;
  margin: 15px;
}

.busquedas-listado .card-header{
  font-weight: bold;
}

/* contacto */

.encabezado-contacto{
  min-height:400px;
}

.parrafo-contacto{
  font-size: 1.3rem;

}

.contacto .container{
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo{
  margin-top: -5rem;
  background-color:rgb(13, 109, 253);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion{
  color: white;
  font-size: 1.2rem;
}

.contacto button{
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover{
  background-color: white;
  color: black;

}

.contacto button i{
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i{
  color: black;
}

/* footer */

.footer{
  min-height: 500px;
}

.footer-logo{
  height: 80px;
  width: 150;
  margin: 10px;
}

.footer-texto{
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a{
  width: 50px;
  height: 50px;
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i{
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover{
  background-color: white;
  border: 2px solid rgb(13, 109, 253);
}

.iconos-redes-sociales a:hover i{
  color: black;
}

.derechos-de-autor{
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}




























/* Adaptable - Responsivo */

@media screen and (max-width:400px){
.overlay p{
  font-size: 18px;
  }
}



@media screen and (max-width:767px){
  .navbar-brand{
    display: none;
  }

  .hero-inferior{
    flex-direction: column;
  }
}

@media screen and (max-width: 800px){
  .testimonio-imagen{
    height: 120px;
    width: 120px;
  }

  .testimonio-texto{
    font-size: 18px;
  }
}
  


@media screen and (min-width: 700px){
  .hero-intermedio{
    max-width: 600px;
  }

  .hero-inferior-imagen{
    max-width: 600px;
  }
}