.busquedas{
  padding: 50px;
  .contenedor{
    max-width: 600px;
  }
}  

.busquedas-listado{
  min-height: 500px;
  padding: 30px;
  .card{
    width: 80%;
    max-width: 600px;
    margin: 15px;
    .card-header{
      font-weight: bold;
    }
  }
}