footer {
  background-color:$principalcolor;  
  text-align: center;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;

  div{
    .footer{
      font-size: 0.8rem;
      color:rgb(0, 0, 0);
    }

    .iconos {
      height: 30px;
      margin: 5px;
    }   
  }
}

