.hero{
  background-color: $seccion-clara;
  .hero-principal{
    padding: 5rem;
    .hero-principal h2 {
      font-size: 1.5rem;
    }
  }
  .hero-inferior iframe{
    width: 80%;
    height: 300px;
    padding: 20px;
  }
}