@media screen and (max-width:425px){
  .overlay p{
    font-size: 18px;
    }

  .contacto{
    .container{
     .rectangulo{
      margin-top: 0rem;
      } 
    }
  }
}


  @media screen and (max-width:768px){
    .navbar-brand{
      display: none;
    }
  
    .hero-inferior{
      flex-direction: column;
    }
    .contacto-inferior{
      display: flex;
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 800px){
    .testimonio-imagen{
      height: 120px;
      width: 120px;
    }
  
    .testimonio-texto{
      font-size: 18px;
    }
  }
