.navbar{
  padding: 2rem;
  background-color: #f5f6f7;
  .navbar-collapse{
    align-items: center;
    justify-content: space-between;
    .navbar-brand img{
      width: 180px;
    }
  }
  .active{
    text-decoration: underline wavy coral;
    text-underline-offset: 9px;
  }
}