.nosotros{
  padding: 40px;
  .contenedor{
    max-width: 600px;
  } 
}

.nosotros-inferior{
  padding: 40px;
  .columna{
    font-size: 20px;
    padding: 20px;
    border: 2px solid $decoracion;
    transition: all 0.2s ease-in;
    &:hover{
      background-color: $seccion-oscura;
      color:$texto-claro;
      img{
        width:100%;
        padding: 0;
        border-radius: 10%;
      }
      .nosotros-titulo{
        @include nosotros (25px, bold, 10px 0);
      }
      .badge-contenedor{
        @include nosotros (20px, bold, 10px 0);
        .badge{
          margin: 5px;
        }
      }
    }
  }
}

.testimonios{
  .carousel{
    max-width: 800px;
    .carousel-item{
      height: 500px;
      .container{
        width: 100%;
        height: 100%;
        .testimonio-imagen{
          height: 150px;
          width: 150px;
          margin: 10px 10px 20px 10px;
        }
        .testimonio-texto{
          max-width: 70%;
          font-size: 20px;
          font-family: 'Share Tech Mono', monospace;
        }
        .testimonio-info{
          font-weight: bold;
          p{
          margin-bottom: 0;
          }
        }
      }
    }
  }
}