@media screen and (max-width: 1400px) {
}   

@media screen and (max-width: 1200px) { 
}

/* MODIFICADO EL PUNTO DE QUIEBRE 1024px */
@media screen and (max-width: 1024px) {

  header{
    .logo .nombreConsultora {
      margin: 0;
      padding: 0;
    }

    nav ul li{
      margin: 0;
      padding: 0;
    }  
  }

  .contacto {
    font-size: 1.25rem;
    line-height: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr;
    grid-template-areas: 
    "encabezado"
    "formulario"
    "video";
    grid-row-gap: 5px;
  }
}

/* MODIFICADO EL PUNTO DE QUIEBRE 768px */
@media screen and (max-width: 768px){
  
  header {
    display: grid;
    grid-template-rows: 0.1fr 0.5fr;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-areas: 
    "logo nombreConsultora"
    "nav nav";
              
    .logo {
      grid-area: logo;
      padding-left: 25%;
      padding-top: 1%;
    }

    .nombreConsultora{
      grid-area: nombreConsultora;      
    }

    nav{
      grid-area: nav;
    }
  }

  .menuNosotros{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "nosotrosUno"
    "nosotrosDos"
    "nosotrosTres";
    grid-row-gap: 5px;
  }
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 480px) {  
}

/* MODIFICADO EL PUNTO DE QUIEBRE 425px */
@media screen and (max-width: 425px){

  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    grid-template-areas: 
    "logo"
    "nombreConsultora"
    "menu";

    .logo{
      padding-left: 35%;
    }

    .nombreConsultora{
      text-align: center;
    }

    nav{
      grid-area: menu;      
      ul{  
        flex-wrap: wrap; 
        justify-content: space-evenly;
        li{             
          a{
            text-decoration: none;
            cursor:pointer;
            border-radius: 3px;
            margin: 5px;
          }
        }
      }
    }      
  }

  .mapaUbicacion {
    display: flex;
    flex-direction: column;
  }
  
  #servicios{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "servicioUno" 
    "servicioDos"
    "servicioTres"
    "servicioCuatro"
    "servicioCinco" 
    "servicioSeis";
  }

  .menuBusquedas {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .contacto{
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-areas: 
    "encabezado"
    "formulario" 
    "video";
    grid-row-gap: 1rem;
  } 
}

/* MODIFICADO EL PUNTO DE QUIEBRE 375px */
@media screen and (max-width: 375px) {

  .index{
    display: flex;
    flex-direction: column;
  
    .mapaUbicacion {
      flex-direction: column;
    }
  }

  
  section{
    .menuBusquedas {
      grid-template-columns: 1fr;
      grid-template-rows: repeat (8, 1fr);
      
      div{
        padding: 0%;
        margin: 0%;
      }
    }
  }
  
  .contacto{
    margin: 0;
    padding: 0;
    justify-self: center;
    .encabezadoContacto{
      font-weight:normal;
    }  
  }

  .menuBusquedas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
}

/* MODIFICADO EL PUNTO DE QUIEBRE 320px */
@media screen and (max-width: 320px) {

  .busquedas{
    text-align: center;
  }

  .contacto{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr, 1fr, 1fr;
    grid-template-areas: 
    "encabezado" 
    "formulario" 
    "video";

    .encabezadoContacto{
      flex-wrap: nowrap;
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr,1fr;
      flex-direction: column;
      justify-content: center;
    }

    section {
      form{ 
        width: 80%;
      } 
    }

    .videoContacto {
      width: 80%;
      margin:0;
    }
  }
}
