.servicios-contenedor{
  padding: 50px;
  .servicios-encabezado{
    max-width: 600px;
    text-align: center;
  }
}
.servicios-listado{
  padding-top: 60px;
  margin-bottom: 40px;
  .servicios{
    position: relative;
    img{
      height:100%;
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      display: block;
      transition: all 0.2s ease;
      opacity: 0.1;
    }
    .overlay{
      transition: all 0.2s ease;
      opacity: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
       h3{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 0;
        color: $decoracion;
        text-shadow: 1px 1px 1px $texto-oscuro;;
      }
    }
    &:hover img{
      opacity: 0.6;
    }
    &:hover .overlay{
      opacity: 1;
    }
  }
}  
