$seccion-clara:#ffffff;
$seccion-oscura: #1b1b32;

$texto-claro: #ffffff;
$texto-oscuro: #1b1b32;
$texto-descripcion:#584e4e;

$enable-shadows: true;
$enable-gradients: true;

$btn-padding-y: .8rem;
$btn-padding-x: 1.5rem;

$decoracion: #ff7f50;
$botones: #333371;