$principalcolor:rgba(83, 161, 161, 0.679);
$secondarycolor: rgb(179, 134, 117);
$colornombre: rgba(199, 84, 43, 0.728);
$colortitulos: rgb(139, 0, 139);
$colorbutton: rgba(6, 116, 120, 0.754);
$colorhover: rgba(228, 108, 64, 0.867);
$colornav: rgb(6, 64, 108);